@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.patientcard-bg {
    background-color: white;
}

.border-full {
    border-radius: 999px;
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
