@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: #F3F1F2;
}

body {
    color: rgb(var(--foreground-rgb));
    background: var(--background-start-rgb);
        
}

.border-full {
    border-radius: 999px;
}
@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
